<%- include('../../fragments/header.ejs') %>
    <main>
        <script type="application/javascript" src="/js/validationPlayingField.js"></script>
        <h2><%=pageTitle %></h2>
        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm()">
            <input type="hidden" name="_id" value="<%= pf._id %>">

            <label for="name"><%= __('pf.form.fields.name') %><abbr title="required" aria-label="required">*</abbr></label>
            <input class="<%= validationErrors.find(e => e.path.includes('name')) ? 'error-input' : '' %>"
            type="text" name="name" id="name" placeholder="<%= __('pf.form.placeholder.name') %>" value="<%= pf.name %>"
            <%= (formMode == 'showDetails') ? 'disabled' : ''%>/>
            <span id="errorName" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('name'))) { %>
                    <%= validationErrors.find(e => e.path.includes('name')).message %>
                <% } %>
            </span>

            <label for="adress"><%= __('pf.form.fields.adress') %><abbr title="required" aria-label="required">*</abbr></label>
            <input class="<%= validationErrors.find(e => e.path.includes('adress')) ? 'error-input' : '' %>"
            type="text" name="adress" id="adress" placeholder="<%= __('pf.form.placeholder.adress') %>" value="<%= pf.adress %>"
            <%= (formMode == 'showDetails') ? 'disabled' : ''%>/>
            <span id="errorAdress" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('adress'))) { %>
                    <%= validationErrors.find(e => e.path.includes('adress')).message %>
                <% } %>
            </span>

            <label for="cloackroom"><%= __('pf.form.fields.cloackroom') %><abbr title="required" aria-label="required">*</abbr></label>
            <input class="<%= validationErrors.find(e => e.path.includes('cloackroom')) ? 'error-input' : '' %>"
            type="text" name="cloackroom" id="cloackroom" placeholder="<%= __('pf.form.placeholder.cloackroom') %>" value="<%= pf.cloackroom %>"
            <%= (formMode == 'showDetails') ? 'disabled' : ''%>/>
            <span id="errorCloackroom" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('cloackroom'))) { %>
                    <%= validationErrors.find(e => e.path.includes('cloackroom')).message %>
                <% } %>
            </span>

            <% if (formMode == 'showDetails') { %>
                <div class="section-buttons">
                    <a href="/playingfields/edit/<%= pf._id %>" class="list-actions-button-edit"><%= __('form.actions.edit') %></a>
                </div>
            <% } %>

            <% if (formMode == 'showDetails') { %>
                <h2><%= __('pf.form.event.tableName') %></h2>
                <table class="table-list">
                    <thead>
                        <tr>
                            <th><%= __('pf.form.event.playerName') %></th>
                            <th><%= __('pf.form.event.beginTime') %></th>
                            <th><%= __('pf.form.event.endTime') %></th>
                            <th><%= __('pf.form.event.maxNumberOfPlayer') %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let e of pf.events) { %>
                            <tr>
                                <td><a href="/players/details/<%= e.player._id%>"><%= e.player.lastName%></a></td>
                                <td><%= e.beginTime.toISOString().split('.')[0].replace('T',' ') %></td>
                                <td><%= e.endTime.toISOString().split('.')[0].replace('T',' ') %></td>
                                <td><%= e.maxNumberOfPlayer%></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>

            <% } %>
            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <% if (formMode != 'showDetails') { %>
                    <input class="form-button-submit" type="submit" value="<%=btnLabel%>" onclick="return alert('<%=alertMessage%>')" />
                    <a class="form-button-cancel" href="/playingfields"><%= __('form.actions.cancel') %></a>
                <% } else { %>
                    <a class="form-button-cancel" href="/playingfields"><%= __('form.actions.return') %></a>
                <% } %>
            </div>
        </form>

    </main>
<%- include('../../fragments/footer.ejs') %>