<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Gracze</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Nazwa</th>
                    <th>Adres</th>
                    <th>Szatnia</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <% for (let pf of playingFields) { %>
                    <tr>
                        <td><%= pf.name %></td>
                        <td><%= pf.adress %></td>
                        <td><%= pf.cloackroom %></td>
                        <td>
                            <ul class="list-actions">
                                <li><a href="/playingfields/details/<%=pf._id%>" class="list-actions-button-details">Szczegóły</a></li>
                                <li><a href="/playingfields/edit/<%=pf._id%>" class="list-actions-button-edit">Edytuj</a></li>
                                <li><a href="/playingfields/delete/<%=pf._id%>" class="list-actions-button-delete">Usuń</a></li>
                            </ul>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <div class="form-buttons">
            <p><a href="playingfields/add" class="button-add">Dodaj nowego obiekt sportowy</a></p>
        </div>

    </main>
<%- include('../../fragments/footer.ejs') %>