<%- include('../../fragments/header.ejs') %>
<script>
    function confirmAlert() {
        if (confirm("<%= __('pf.list.deleteConfirm') %>")){
            alert("<%= __('pf.list.deleteAlert') %>");
        }
    }
</script>
    <main>
        <h2><%= __('nav.playingFields') %></h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th><%= __('pf.fields.name') %></th>
                    <th><%= __('pf.fields.adress') %></th>
                    <th><%= __('pf.fields.cloackroom') %></th>
                    <% if (loggedUser) {%>
                    <th><%= __('list.actions.title') %></th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% for (let pf of playingFields) { %>
                    <tr>
                        <td><%= pf.name %></td>
                        <td><%= pf.adress %></td>
                        <td><%= pf.cloackroom %></td>
                        <% if (loggedUser) {%>
                        <td>
                            <ul class="list-actions">
                                <li><a href="/playingfields/details/<%=pf._id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a></li>
                                <li><a href="/playingfields/edit/<%=pf._id%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a></li>
                                <li><a href="/playingfields/delete/<%=pf._id%>" class="list-actions-button-delete" onclick="confirmAlert()"><%= __('list.actions.delete') %></a></li>
                            </ul>
                        </td>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <% if (loggedUser) {%>
        <div class="form-buttons">
            <p><a href="playingfields/add" class="button-add"><%= __('pf.list.addNew') %></a></p>
        </div>
        <% } %>

    </main>
<%- include('../../fragments/footer.ejs') %>