<%- include('../../fragments/header.ejs') %>
<script>
    function showAllert(){
        if(validateForm()){
            alert('<%=alertMessage%>')
        }
    }
</script>
    <main>
        <script type="application/javascript" src="/js/validationEventForm.js"></script>
        <h2><%= pageTitle%></h2>
        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
            <input type="hidden", name="_id" value="<%= event._id%>">

            <div style="display: none">
                <span id="errorMessage-required"><%= __('validationMessage.fileRequired') %></span>
                <span id="errorMessage-number-range"><%= __('validationMessage.numberRange') %></span>
                <span id="errorMessage-number"><%= __('validationMessage.number') %></span>
                <span id="errorMessage-end-time"><%= __('validationMessage.endTime') %></span>
                <span id="errorMessage-summary"><%= __('validationMessage.summary') %></span>
            </div>

            <label for="player"><%= __('event.form.fields.player') %><abbr title="required" aria-label="required">*</abbr></label>
            <select class="<%= validationErrors.find(e => e.path.includes('playerId')) ? 'error-input' : '' %>"
            id="player" name="playerId" required <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
                <% if (formMode == 'createNew') { %>
                <option value="" selected><%= __('event.form.select.player') %></option>
                <% } %>
                <% for (let i=0; i<allPlayers.length; i++) { let player = allPlayers[i]; %>
                    <option value="<%= player._id%>" label="<%= player.firstName + ' ' + player.lastName %>"
                        <%= (event._id && player._id.toString() == event.player._id.toString()) ? 'selected' : ''%>></option>
                <% } %>
            </select>
            <span id="errorPlayer" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('playerId'))) { %>
                    <%= validationErrors.find(e => e.path.includes('playerId')).message %>
                <% } %>
            </span>

            <label for="playing-field"><%= __('event.form.fields.playingField') %><abbr title="required" aria-label="required">*</abbr></label>
            <select class="<%= validationErrors.find(e => e.path.includes('playingFieldId')) ? 'error-input' : '' %>"
            id="playingField" name="playingFieldId" required <%= (formMode == 'showDetails') ? 'disabled' : ''%>>
                <% if (formMode == 'createNew') { %>
                <option value="" selected><%= __('event.form.select.playingField') %></option>
                <% } %>
                <% for (let i=0; i<allPlayingFields.length; i++) { let playingField = allPlayingFields[i]; %>
                    <option value="<%= playingField._id%>" label="<%= playingField.name %>"
                        <%= (event._id && playingField._id.toString() == event.playingField._id.toString()) ? 'selected' : ''%>></option>
                <% } %>
            </select>
            <span id="errorPlayingField" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('playingFieldId'))) { %>
                    <%= validationErrors.find(e => e.path.includes('playingFieldId')).message %>
                <% } %>
            </span>

            <label for="begin-time"><%= __('event.form.fields.beginTime') %><abbr title="required" aria-label="required">*</abbr></label>
            <input class="<%= validationErrors.find(e => e.path.includes('beginTime')) ? 'error-input' : '' %>"
            type="datetime-local" name="beginTime" id="beginTime" value="<%= event.beginTime ? event.beginTime.toISOString().split('.')[0] : '' %>"
            <%= (formMode == 'showDetails') ? 'disabled' : ''%>/>
            <span id="errorBeginTime" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('beginTime'))) { %>
                    <%= validationErrors.find(e => e.path.includes('beginTime')).message %>
                <% } %>
            </span>

            <label for="end-time"><%= __('event.form.fields.endTime') %><abbr title="required" aria-label="required">*</abbr></label>
            <input class="<%= validationErrors.find(e => e.path.includes('endTime')) ? 'error-input' : '' %>"
            type="datetime-local" name="endTime" id="endTime" 
            value="<%= event.endTime ? event.endTime.toISOString().split('.')[0]  : ''%>"
            <%= (formMode == 'showDetails') ? 'disabled' : ''%>/>
            <span id="errorEndTime" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('endTime'))) { %>
                    <%= validationErrors.find(e => e.path.includes('endTime')).message %>
                <% } %>
            </span>

            <label for="max-number-of-player"><%= __('event.form.fields.numberOfPlayer') %><abbr title="required" aria-label="required">*</abbr></label>
            <input class="<%= validationErrors.find(e => e.path.includes('maxNumberOfPlayer')) ? 'error-input' : '' %>"
            type="number" name="maxNumberOfPlayer" id="MaxNumberOfPlayer" value="<%= event.maxNumberOfPlayer %>"
            <%= (formMode == 'showDetails') ? 'disabled' : ''%>/>
            <span id="errorMaxNumberOfPlayer" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('maxNumberOfPlayer'))) { %>
                    <%= validationErrors.find(e => e.path.includes('maxNumberOfPlayer')).message %>
                <% } %>
            </span>

            <% if (formMode == 'showDetails') { %>
                <div class="section-buttons">
                    <a href="/events/edit/<%= event._id %>" class="list-actions-button-edit"><%= __('form.actions.edit') %></a>
                </div>
            <% } %>

            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <% if (formMode != 'showDetails') { %>
                    <input class="form-button-submit" type="submit" value="<%=btnLabel%>" onclick="showAllert()"/>
                    <a class="form-button-cancel" href="/events"><%= __('form.actions.cancel') %></a>
                <% } else { %>
                    <a class="form-button-cancel" href="/events"><%= __('form.actions.return') %></a>
                <% } %>
            </div>
        </form>

    </main>
<%- include('../../fragments/footer.ejs') %>