<%- include('../../fragments/header.ejs') %>
<script>
    function confirmAlert() {
        if (confirm("<%= __('event.list.deleteConfirm') %>")){
            alert("<%= __('event.list.deleteAlert') %>");
        }
    }
</script>
    <main>
        <h2><%= __('event.list.pageTitle') %></h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th><%= __('event.fields.numberOfPlayer') %></th>
                    <th><%= __('event.fields.beginTime') %></th>
                    <th><%= __('event.fields.endTime') %></th>
                    <th><%= __('event.fields.playingField') %></th>
                    <% if (loggedUser) {%>
                    <th><%= __('event.fields.player') %></th>
                    <th><%= __('list.actions.title') %></th>
                    <% } %>
                </tr>
                <tbody>
                    <% for (let event of events) { %>
                        <tr>
                            <td><%= event.maxNumberOfPlayer%></td>
                            <td><%= event.beginTime.toISOString().split('.')[0].replace('T',' ')%></td>
                            <td><%= event.endTime.toISOString().split('.')[0].replace('T',' ')%></td>
                            <td><%= event.playingField.name%></td>
                            <% if (loggedUser) {%>
                            <td><%= event.player.lastName%></td>
                            <td>
                                <ul class="list-actions">
                                    <li><a href="/events/details/<%=event._id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a></li>
                                    <li><a href="/events/edit/<%=event._id%>" class="list-actions-button-edit"><%= __('list.actions.edit')%></a></li>
                                    <li><a href="/events/delete/<%=event._id%>" class="list-actions-button-delete" onclick="confirmAlert()"><%= __('list.actions.delete') %></a></li>
                                </ul>
                            </td>
                            <% } %>
                        </tr>
                    <% } %>
                </tbody>
            </thead>
        </table>
        <% if (loggedUser) {%>
        <div class="form-buttons">
            <p><a href="events/add" class="button-add"><%= __('event.list.addNew') %></a></p>
        </div>
        <% } %>

    </main>
<%- include('../../fragments/footer.ejs') %>