<%- include('../../fragments/header.ejs') %>
<script>
    function showAllert(){
        if(validateForm()){
            alert('<%=alertMessage%>')
        }
    }
</script>
    <main>
        <script type="application/javascript" src="/js/validationPlayerForm.js"></script>

        <h2><%= pageTitle %></h2>
        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
            <input type="hidden" name="_id" value="<%= player._id %>">
            <div style="display: none">
                <span id="errorMessage-required"><%= __('validationMessage.fileRequired') %></span>
                <span id="errorMessage-file-length"><%= __('validationMessage.fileLength') %></span>
                <span id="errorMessage-email-length"><%= __('validationMessage.emailLength') %></span>
                <span id="errorMessage-password-length"><%= __('validationMessage.passwordLength') %></span>
                <span id="errorMessage-email"><%= __('validationMessage.email') %></span>
                <span id="errorMessage-summary"><%= __('validationMessage.summary') %></span>
            </div>

            <label for="firstName"><%= __('player.form.fields.firstName') %><abbr title="required" aria-label="required">*</abbr></label>
            <input class="<%= validationErrors.find(e => e.path.includes('firstName')) ? 'error-input' : '' %>" 
            type="text" name="firstName" id="firstName" placeholder="<%= __('player.form.placeholder.firstName') %>" value="<%= player.firstName %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorFirstName" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('firstName'))) { %>
                    <%= validationErrors.find(e => e.path.includes('firstName')).message %>
                <% } %>
            </span>

            <label for="lastName"><%= __('player.form.fields.lastName') %><abbr title="required" aria-label="required">*</abbr></label>
            <input class="<%= validationErrors.find(e => e.path.includes('lastName')) ? 'error-input' : '' %>" 
            type="text" name="lastName" id="lastName" placeholder="<%= __('player.form.placeholder.lastName') %>" value="<%= player.lastName %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorLastName" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('lastName'))) { %>
                    <%= validationErrors.find(e => e.path.includes('lastName')).message %>
                <% } %>
            </span>

            <label for="email"><%= __('player.form.fields.email') %><abbr title="required" aria-label="required">*</abbr></label>
            <input class="<%= validationErrors.find(e => e.path.includes('email')) ? 'error-input' : '' %>"
            type="email" name="email" id="email" placeholder="<%= __('player.form.placeholder.email') %>" value="<%= player.email %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
            <span id="errorEmail" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('email'))) { %>
                    <%= validationErrors.find(e => e.path.includes('email')).message %>
                <% } %>
            </span>

            <% if (formMode == 'createNew') {%>
                <label for="password"><%= __('player.form.fields.password') %><abbr title="required" aria-label="required">*</abbr></label>
                <input class="<%= validationErrors.find(e => e.path.includes('password')) ? 'error-input' : '' %>"
                type="password" name="password" id="password" placeholder="<%= __('player.form.placeholder.password') %>" value="<%= player.password %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %> />
                <span id="errorPassword" class="errors-text">
                    <% if (validationErrors.find(e => e.path.includes('password'))) { %>
                        <%= validationErrors.find(e => e.path.includes('password')).message %>
                    <% } %>
                </span>
            <% } %>

            <% if (formMode == 'showDetails') { %>
                <div class="section-buttons">
                    <a href="/players/edit/<%= player._id %>" class="list-actions-button-edit"><%= __('form.actions.edit') %></a>
                </div>
            <% } %>

        
        <% if (formMode == 'showDetails') { %>
        <h2><%= __('player.form.event.tableName') %></h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th><%= __('player.form.event.pfName') %></th>
                    <th><%= __('player.form.event.beginTime') %></th>
                    <th><%= __('player.form.event.endTime') %></th>
                    <th><%= __('player.form.event.maxNumberOfPlayer') %></th>
                </tr>
            </thead>
            <tbody>
                <% for (let e of player.events) { %>
                    <tr>
                        <td><a href="/playingfields/details/<%= e.playingField._id %>"><%= e.playingField.name %></a></td>
                        <td><%= e.beginTime.toISOString().split('.')[0].replace('T',' ') %></td>
                        <td><%= e.endTime.toISOString().split('.')[0].replace('T',' ') %></td>
                        <td><%= e.maxNumberOfPlayer %></td>
                    </tr>

                <% } %>
            </tbody>
        </table>
        <% } %>
        <div class="form-buttons">
            <p id="errorsSummary" class="errors-text"></p>
            <% if (formMode != 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%=btnLabel%>" onclick="showAllert()"/>
                <a class="form-button-cancel" href="/players"><%= __('form.actions.cancel') %></a>
            <% } else { %>
                <a class="form-button-cancel" href="/players"><%= __('form.actions.return') %></a>
            <% } %>
        </div>
    </form>
    </main>
<%- include('../../fragments/footer.ejs') %>