<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Gracze</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>E-mail</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <% for (let player of players) { %>
                    <tr>
                        <td><%= player.firstName %></td>
                        <td><%= player.lastName %></td>
                        <td><%= player.email %></td>
                        <td>
                            <ul class="list-actions">
                                <li><a href="/players/details/<%=player._id%>" class="list-actions-button-details">Szczegóły</a></li>
                                <li><a href="/players/edit/<%=player._id%>" class="list-actions-button-edit">Edytuj</a></li>
                                <li><a href="/players/delete/<%=player._id%>" class="list-actions-button-delete">Usuń</a></li>
                            </ul>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <div class="form-buttons">
            <p><a href="players/add" class="button-add">Dodaj nowego gracza</a></p>
        </div>

    </main>
<%- include('../../fragments/footer.ejs') %>