<%- include('../../fragments/header.ejs') %>
    <main>
        <h2><%= __('player.list.pageTitle') %></h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th><%= __('player.fields.firstName') %></th>
                    <th><%= __('player.fields.lastName') %></th>
                    <th><%= __('player.fields.email') %></th>
                    <th><%= __('list.actions.title') %></th>
                </tr>
            </thead>
            <tbody>
                <% for (let player of players) { %>
                    <tr>
                        <td><%= player.firstName %></td>
                        <td><%= player.lastName %></td>
                        <td><%= player.email %></td>
                        <td>
                            <ul class="list-actions">
                                <li><a href="/players/details/<%=player._id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a></li>
                                <li><a href="/players/edit/<%=player._id%>" class="list-actions-button-edit"><%= __('list.actions.edit')%></a></li>
                                <li><a href="/players/delete/<%=player._id%>" class="list-actions-button-delete" onclick="return confirm('Czy chcesz usunąć?')"><%= __('list.actions.delete')%></a></li>
                            </ul>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <div class="form-buttons">
            <p><a href="players/add" class="button-add"><%= __('player.list.addNew') %></a></p>
        </div>

    </main>
<%- include('../../fragments/footer.ejs') %>